# Dependencies
node_modules/
.pnp
.pnp.js
.pnpm-store/

# Build outputs
dist/
build/
out/
.next/
.turbo/
*.tsbuildinfo

# Env & secrets
.env
.env.*
!.env.example
*.pem
*.key

# Prisma
prisma/*.db
prisma/migrations/**/migration_lock.toml.bak

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Runtime / storage
/storage/
uploads/
tmp/
coverage/
.nyc_output/

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Docker volumes
infra/data/
